<div class="w-25 m-auto">
    <form class="form-signin" action="http://10.1.216.243:3000/login" method="POST">
        <div class="text-center mb-4">
                <br/><br/><br/> <br/><br/><br/> <br/>
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            
        </div>
    
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" name="mail"
                autofocus="">
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="pw">
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-outline-primary btn-block" type="submit">Sign in</button>
        
    </form>
</div>