<h1 style="position:absolute;z-index: 9999;left:43.5%;color: rgba(255,96,0);font-family: sans-serif;font-weight: lighter">
    Movie Review
</h1>
<nav class="navbar navbar-expand-lg navbar-light w-100"
    style="background: rgba(51,51,51);padding:10px 15%;position:relative">
    <a class="navbar-brand" href="/" style="color:white;font-family: sans-serif;">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <% if(sess.info){ %>
            <li class="nav-item">
                <a style="color:white;font-family: sans-serif;" class="nav-link" ><%=sess.info.userName%></a>
            </li>
            <li class="nav-item">
                <a style="color:white;font-family: sans-serif;" class="nav-link" href="/logout">Logout</a>
            </li>
            <%} else{%>
            <li class="nav-item">
                <a style="color:white;font-family: sans-serif;" class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a style="color:white;font-family: sans-serif;" class="nav-link" href="/join">Join In</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>